/* styles.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display-4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table {
  width: 70%;
  border-collapse: collapse;
  border: 1px solid black;
}

.table th,
.table td {
  padding: 5px;
}

.table-bordered th,
.table-bordered td {
  border: none;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.add-book input[type="text"],
.add-book button {
  margin-bottom: 10px;
}

.line {
  border: none;
  border-top: 1px solid black;
  width: 58px;
}

/* Additional styles for remove button */
.remove {
  background-color: white;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid black;
}


/* Custom styling for book list */
#books {
  list-style: none;
  padding: 0;
  margin: 0;
}

table tbody tr {
  display: flex;
  justify-content: space-between;
}

#books tr:nth-child(odd) {
  background-color: #f2f2f2;
}

#books tr:nth-child(even) {
  background-color: #fff;
}

.add-book {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#title {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#author {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.add-book #add {
  margin-left: auto;
  margin-right: 24%;
}
